<div id="main-content">    	
    <div class="container" id="solver">
        <div class="row" id="seperator">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 text-center">
            <h4>{{one.title}}</h4>
            <h4>Rated: {{one.rating}} ELO</h4>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
            <h6>by {{one.creator}}</h6>
            <span id="checkUserDelete"></span>
            <form class="d-none" id="deletion-form" action="/api/puzzles/delete-puzzle/{{one.id}}" method="POST">
                <input class="d-none" value="{{user.username}}" name="username">
                <input class="d-none" value="{{one.creator}}" name="creator">
                <input class="d-none" value="{{one.title}}" name="title">
                <p>Are you sure you want to do this? <br> <span>It cannot be undone.</span></p>
                <button type="submit" class="mb-3">Yes</button>
            </form>
            <button id="abort" class="d-none mb-3" onClick="deletionImminent()">No</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col-xxs-12 text-center">
            <div id="myBoard" style="width: 75%"></div>
        </div>
        <div id="wall" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-xxs-12 text-center">
            <div id="moves">
                <h5>Game moves:</h5>
                <div id="pgn"></div>
            </div>
            <div id="adjust">
                <h5 id="progress" class="">Make a Move!</h5><br>
                <div id="status"></div>
            </div>
            <div class="mt-5" id="eloChange"></div>
        </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col-xxs-12 text-center">
                <button id="hint" class="mt-4">Hint</button>
                <button id="solve" onclick="doneContent('myBoard', '{{one.final_fen}}', '{{one.id}}', '{{one.pgn}}', true, '{{one.first_move}}', '{{user.username}}', true, true, {{done.counter}}, false)" class="mt-4">Solve puzzle</button>
            </div>
            <div id="puzzle-solved" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <hr id="ruler-for-solved1" class="d-none">
                <a id="counterBtn" href="/?redirect={{one.id}}" class="d-none">Click here to return to the forum!</a>
                <hr id="ruler-for-solved2" class="d-none">
                <div id="changeElo"></div>
            </div>
        </div>
        <div id="comments" class="d-none col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form action="/api/puzzles/add-comment/{{one.id}}" method="POST">
                <label for="write_comment">Write a comment:</label><br>
                <textarea class="form-control" cols="50" rows="4" name="write_comment" id="write_comment" placeholder="This puzzle was awesome!"></textarea>
                <input class="d-none" name="author" id="author" value="{{user.username}}"><br>
                <div class='text-right'><button type="submit" value="Add comment" class="mb-4">submit</button></div>
                
            </form>
            <script>
                let id = '{{one.id}}';
                let username = '{{user.username}}';
            </script>
            {{#if one.comments}}
                {{#each one.comments}}
                    <div id="full-comment">
                        <div id="comment-author">by {{this.author}}:</div>
                        <div id="comment" class="ml-3"><div id="comment{{this.id}}">{{this.comment}}</div></div><br>
                        <div><span id="btnRight">written on: {{this.date}}</span><span id="insertResponseUrl" class="undone"></span></div>
                    </div>
                    <script>
                        insertResponseUrl(id, '{{this.id}}', username);
                    </script>
                    {{#each this}}
                        {{#if this}}
                            {{#each this}}
                                <div id="full-response" class="ml-5">
                                    <div id="response-author">Reply by {{this.author}}:</div>
                                    <div class="ml-3" id="response">{{this.response}}</div><br>
                                    <div><span>written on: {{this.date}}</span></div>
                                </div>  
                            {{/each}}
                        {{/if}}
                    {{/each}}
                {{/each}}
            {{else}}
                <div>No comments have been written.</div>
            {{/if}}
            <div class="text-center"><hr id="ruler-for-solved3" class="d-none">
            <a id="counterBtn1" href="/?redirect={{one.id}}" class="d-none">Click here to return to the forum!</a>
            <hr id="ruler-for-solved4" class="d-none"></div>
        </div>
        <script>
            if (!{{done.done}}) {
                let arr = [];
                {{#each one.moves}}
                    arr.push( {from: '{{this.from}}', to: '{{this.to}}', color: '{{this.color}}'} );
                {{/each}}
                window.orient = '{{one.first_move}}';
                let notSolvedBy = true;
                let notSamePerson = true;
                if ('{{user.username}}' === '{{one.creator}}' || !'{{user.username}}') notSamePerson = false;
                {{#each one}}
                    {{#if this}}
                        if ('solvers' === '{{@key}}') {
                            {{#each this}}
                                if (username === '{{this.by}}') {
                                    notSolvedBy = false;
                                }
                            {{/each}}
                        }
                    {{/if}}
                {{/each}}
                
                eloChanger(3, '{{user.username}}', '{{user.elo}}', '{{one.id}}', {{one.rating}});
                solver('{{one.fen}}', arr, '{{one.id}}', '{{one.pgn}}', touch, '{{user.username}}', notSolvedBy, notSamePerson);
            }
            else {
                doneContent('myBoard', '{{one.final_fen}}', '{{one.id}}', '{{one.pgn}}', true, '{{one.first_move}}', '{{user.username}}', true, true, {{done.counter}}, false, {{user.elo}});
            }
            {{#if user}}
                loadDelButton('{{user.username}}', '{{one.creator}}')
            {{/if}}
            document.getElementById('myBoard').addEventListener('touchstart', function onFirstTouch(event) {
            touch = true;
            event.preventDefault();
            }, { passive: false });
            {{#if done.id}}
                window.location = ('#comment{{done.id}}');
            {{/if}}
        </script>
    </div>
</div>